<% if Helpers.is_logged_in?(session) %>

    <form method='post' action='/tweets/<%= @tweet.id %>'>
        <input type='hidden' id='hidded' name='_method' value='patch'>

        <p>
            <input type='text' id='content' name='content' value='<%= @tweet.content %>'>
        </p>

        <p>
            <input type='submit' id='submit' value='Edit Tweet'>
        </p>

    </form>

<% else %>
    <h1> You Must Be Logged in to Make Tweets </h1>
<% end %>