<% if Helpers.is_logged_in?(session) %>

  <form action='/tweets' method="post">
    
    <p>
      <label for='content'>Content: </label>
      <input type="text" id='content' name="content"><br>
    </p>

    <p>
      <input type="submit" id="submit" value="Submit">
    </p>
    
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
